.css1
{
    
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    margin: 10rem auto;
    max-width: max-content;
    box-shadow: 10px 10px 5px grey;
    /* box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5); */
    background-color: black;
}
.css2
{
    justify-content:center; 
    align-items:center;
    flex-direction: column;
    gap: 2rem;
    display:flex;
    padding: 20px;
    padding-bottom: 30px;
}